.item_modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content-item {
  background-color: #fff;
  max-width: 498px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

.modal__image {
  border-radius: 10px 10px 0 0;
}

.modal__close-button-item {
  background-image: url("../../images/close_button_white.png");
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  right: 28px;
  top: 28px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__close-button-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal__info-section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__info {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: left;
  padding: 20px 0 32px 32px;
}

.modal__info-name {
  margin: 0 0 12px 0;
}

.modal__info-weather {
  margin: 0;
}