.clothing__section-wrapper {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  gap: 20px;
  height: 25px;
  margin: 7px 0 16px 0;
}

.clothingsection__title {
  margin: 0;
}

.clothingsection__button {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: white;
}

.clothingsection__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.clothingsection__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
